<html>
	<head>
		<title>[*title*]</title>
		<style>
			body{font-family:arial;font-size:9pt;min-height:800px;}
			table {table-layout:fixed;}

			.right {
				text-align:right;
			}
			
			.entries{
			}
			.tableheader{
				text-decoration:underline;
			}
			.entries .tablerow{
				min-height:20px;
			}
			.entries td {
				vertical-align:top;
			}
			.col_1, .col_2, .col_3{
				text-align:right;
			}
		</style>
	</head>
	<body>
		<img src="[*templatelocation*]printheader.png"/>
		<table style="width:100%;"cellpadding="0" cellspacing="0">
			<tr>
				<td>t:021 930 1670</td>
				<td class="right">VAT NO. 4290258849</td>
			</tr>
			<tr style="height:10px;"><td colspan="2"/></tr>
			<tr>
				<td colspan="2" style="border:1px solid black">
					<table style="width:100%" cellpadding="0" cellspacing="0">
						<tr><td style="text-align:center;">INCOME AND EXPENSES REPORT</td></tr>
						<tr><td style="text-align:center;">[*report_period*]</td></tr>
					</table>
				</td>
			</tr>
		</table>
		<br/>
		<table style="width:100%;" cellpadding="0" cellspacing="0" class="entries">
			[*entries*]
		</table>
	</body>
</html>